doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='style.css')
		script(src='onloadhook.js')
		script(src='spin.js')
		script(src='dispatch.js')
	body
		header.
			Instatest
		#content
			block content
		#nav
			include nav.jade
		footer
			p
				| Part of the 
				a(href="http://hackology.co.uk") Hackology 
				| network
