doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='style.css')
		script(src='dispatch.js')
	body
		header.
			Instatest
		#content
			block content
		#nav
			include nav.jade
		footer
			a(href="http://hackology.co.uk") Hackology
