doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(src='onloadhook.js')
		script(src='spin.js')
		script(src='dispatch.js')
	body
		header.
			Instatest
		article
			block content
		nav
			include nav.jade
		footer
			p
				| Part of the 
				a(href="http://hackology.co.uk") Hackology 
				| network
		#stars
			div
			div
			div
