- locals.fields = [];

mixin field(id, text, type)
	input.queryfield(id=id, placeholder=text, type=type)
	- locals.fields.push(id);

mixin button(command, text)
	- locals.fields.unshift(command);
	- locals.fields = locals.fields.map(JSON.stringify).join(', ');
	input(type='submit', onclick='dispatch(' + locals.fields + ');', value=text)
	- locals.fields = [];

div
	div
		span User
		div
			+field('userq', 'User query', 'text')
			+button('user/search', 'Search')
		div
			+field('userid', 'ID number', 'text')
			+button('user/get', 'Get')
	div
		span Media
		div
			+field('mediaq', 'Tag query', 'text')
			+button('media/search', 'Search')
		div
			+field('mediaid', 'ID number', 'text')
			+button('media/get', 'Get')
