include ajax

div.vert.card

	div
		+text('Id number')
			+dispatch('user/get', { userid: data.id })= data.id

	div
		+text('Username')= data.username

	div
		+text('Full name')= data.full_name

	div
		+image('Profile picture', data.profile_picture, 'Profile picture for ' + data.username)


	if data.website
	
		div
			+link('Website', data.website)

	
	if data.counts
	
		div
			+text('Posts')= data.counts.media

		div
			+text('Follows')= data.counts.follows
	
		div
			+text('Followers')= data.counts.followed_by

	if data.bio
	
		div
			+text('Bio')= data.bio
