/* Webfonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(Lato.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(Oswald-bold.ttf) format('truetype');
}

/* Basics */
body {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	font-family: "LATO", "HelveticaNeue-Black", "Helvetica Neue Black", "Helvetica Neue", "Arial", sans-serif;
	font-size: 12pt;
}

body>* {
	flex: 1 100%;
}

body>* {
	margin: 0;
	padding: 8px 8px 8px 12px;
}

header {
	font-family: "Oswald";
	align-self: flex-start;
	font-size: 24pt;
	background: #ff8;
}

footer {
	align-self: flex-end;
	background: #88f;
	color: black;
}

footer a {
	color: #448;
	text-decoration: none;
}

#nav {
	padding-right: 16px;
	background: #8f8;
}

#content {
	text-align: left;
	padding: 16px;
	font-size: 10pt;
	background: #eee;
}

header { order: 1; } 
#nav { order: 2; } 
#content { order: 3; }
footer { order: 4; }

#nav div>div { display: inline-block; border: 0; }

@media all and (min-width: 600px) {
	#nav { flex: 1 auto; }
	body>* { margin: 2px; }
}

#mainview .list>* {
	width: 85%;
}
 
@media all and (min-width: 800px) {
	body>* { margin: 6px; }
	header { border-radius: 16px 16px 0 16px; }
	footer { border-radius: 16px 0 16px 16px; }
	#nav { border-radius: 16px 0 0 16px; }
	#content { flex: 1 400px; }
	#nav { flex: 0 100px; }
	#nav div>div { display: block; }
	#nav div>div>div:last-child { border-bottom: 1px solid #7e7; border-bottom-left-radius: 12px; }
	#nav input[type=submit] { text-decoration: underline; color: inherit; background: inherit; border: 0; padding: 0; margin: 0; }
	#mainview .card {
		min-width: 20%;
		max-width: 25%;
	}
}

#nav {
	font-weight: bold;
}

#nav>div {
	padding: 0;
	margin: 0;
	border: 0;
}

#nav>div>div {
	padding: 0;
	margin: 0 0 8px 0;
	border: 0;
}

#nav>div>div>span {
	border: 1px solid #7e7;
	border-radius: 8px;
	padding: 0 6px 0px 4px;
}

#nav div>div>div {
	margin-left: 6px;
	padding-left: 6px;
	border-left: 1px solid #7e7;
}

#nav div {
	padding-top: 4px;
	padding-bottom: 4px;
}

#nav input {
	max-width: 100%;
	margin: 0;
	margin-right: 8px;
	padding: 1px;
	border: 1px solid;
}

#nav {
	font-weight: bold;
}

#nav a {
	font-weight: normal;
	text-decoration: underline;
	color: inherit;
	background: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}

/* Data formatting */

#mainview {
	width: 100%;
}

#mainview .card {
	border: 1px solid silver;
	border-radius: 0.5em;
	padding: 12px;
	margin: 16px;
	flex-grow: 0;
	flex-shrink: 0;
	/* Widths set in media query */
	display: inline-flex;
	background: #f6f6f6;
}

#mainview .list {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: space-around;
	align-items: flex-start;
}

#mainview div {
	font-weight: bold;
	overflow: hidden;
}

#mainview span {
	font-weight: normal;
}

#mainview .value {
	font-style: oblique;
	margin-left: 1em;
	display: block;
	min-height: 1em;
}

#mainview ul {
	list-style-type: none;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	padding-left: inherit;
}

#mainview ul li {
	display: inline-block;
	margin: 0.15em;
	border-radius: 0.5em;
	padding: 0.15em 0.5em;
	border: 1px dotted silver;
}

#mainview img {
	display: block;
	max-width: 100%;
	margin-top: 0.25em;
	border-radius: 12px;
}

#mainview .card div+div {
	margin-top: 0.5em;
}

#mainview .horz {
	display: flex;
	flex-flow: row wrap;
}

#mainview .vert {
	display: flex;
	flex-flow: column wrap;
}

#mainview a {
	text-decoration: none;
}
